:root {
    --black_neon: #012426;
    --grey_A1: #1A1A1A;
    --lite_neon: #05BCCA;
    --lite_grey: #2C4246;
    --oranj: #C46A2B;

}

.conteiner {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    background-color: var(--grey_A1);
    padding-top: 86px;
}

/* header */
header {
    z-index: 1;
    max-width: inherit;
    width: inherit;
    padding: 16px 0;
    background-color: #012426;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #A1C3C9;
    position: fixed;
    top: 0;
    width: 100%;
}

.header_ul {
    display: flex;
    column-gap: 72px;
}

.header_li {
    color: #A1C3C9;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    transition: all .4s ease;
}

.header_li:hover {
    color: #F5F5F5;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.burger{
    font-size: 24px;
    display: none;
}

.fa-bars{
    color: var(--lite_neon);
    /* display: none; */
}

.xmark{
    font-size: 24px;
    color: var(--lite_neon);
    border: none;
    background-color: inherit;
    display: none;
}

/* header_div */
.header_div {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* /////// */
.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: var(--black_neon);
    padding-right: 40px;
    color: #fff;
}

.input-search::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus~.input-search {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/* /////// */
.search_box2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.porm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select_coneiner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 120px;
    height: 37px;
}

.select_coneiner .i_conteiner {
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leng {
    margin-left: 22px;
}

.language {
    border: none;
    appearance: none;
    outline: none;
    padding-right: 10px;
    width: 50%;
    color: #A1C3C9;
    background-color: inherit;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
}

.header_option {
    color: var(--lite_neon);
    background-color: var(--grey_A1);
}

.language_span {
    color: #A1C3C9;
}

.header_div_text_conteiner {
    display: flex;
    column-gap: 32px;
}

.header_div_text {
    color: #A1C3C9;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
}

.fa-chevron-down {
    font-size: 24px;
    color: #05BCCA;
}

.img_conteiner {
    display: flex;
    column-gap: 32px;
}

.cart_shopping {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #05BCCA;
    padding: 8px;
}

/* nav */
.body_nav {
    padding: 36px 0;
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_button {
    border: 1px solid #05BCCA;
    background-color: #1A1A1A;
    padding: 18px 24px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    position: relative;
    transition: 1s ease;
}

.nav_button:hover {
    background-color: #A1C3C9;
    color: var(--lite_grey);
}

/* section1 */
.section1 {
    height: 480px;
    background-image: url("../images/guitar1.png");
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chevron_section1 {
    border-radius: 4px;
    background: #C46A2B;
    color: #FFF;
    padding: 20px;
}

.section1_conteiner {
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-bottom: 372px;
}

.section1_h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.fa-arrow-right-long {
    border-radius: 4px;
    background: #C46A2B;
    color: #FFF;
    padding: 2px 7px;
}

span {
    color: #05BCCA;
}

/* section2 */
.section2 {
    background-color: #012426;
    padding: 5% 10%;
}

.section2_conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section2_article {
    width: calc(504 / 1440 * 100%);
    height: 240px;
}

.article1 {
    background-image: url("../images/guitar-mediator_teal.png");
}

.article2 {
    background-image: url("../images/guitar-mediator-orange.png");
}

.article3 {
    background-image: url("../images/guitar-mediator-orange.png");
}

.article4 {
    background-image: url("../images/guitar-mediator_teal.png");
}

.articie_h2 {
    margin: 16px 0 0 16px;
    color: #F5F5F5;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
}

/* section3 */
.section3 {
    padding: 10% 3%;
    padding: 96px 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section3_h2 {
    color: #05BCCA;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 72px;
}

.span_section3 {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.article_conteiner_conteiner {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.article_conteiner {
    width: 95%;
    height: 420px;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    column-gap: 20px;
}

.i_shadow {
    padding: 8px 14px;
    font-size: 38px;
    border-radius: 8px;
    border: 2px solid #05BCCA;
}

.chevron_section3 {
    color: #A1C3C9;
}

.i_shadow:hover {
    box-shadow: 0 0 8px #05BCCA;
}

.card_section3 {
    margin-top: 13px;
    width: 100%;
    height: 400px;
    background-color: #2C4246;
    padding: 8px 8px 16px 8px;
    flex: 1 0 298px;
}

.card_section3:hover {
    box-shadow: 0 0 8px 4px #05BCCA;
}

.figcaption_card_section3 {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
}

.text_conteiner {
    margin-top: 22px;
    display: flex;
}

.star {
    display: flex;
}

.fa-star {
    color: #C46A2B;
}

.article_conteiner_text {
    color: #A1C3C9;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    margin: 0 73px 0 8px;
}

.fa-dollar-sign {
    color: #05BCCA;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

/* section4 */
.section4 {
    padding: calc(96 / 1440 * 100%) calc(94 / 1440 * 100%);
    background-color: #012426;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

.h_section4 {
    margin: auto;
    color: #C46A2B;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.section4_img_conteiner {
    /* overflow: hidden; */
    /* overflow-x: scroll; */
    display: flex;
    column-gap: 20px;
}

.section4_cards {
    width: 404px;
    height: 440px;
    display: flex;
    flex-direction: column-reverse;
    /* flex: 1 0 404px; */
}

.cards1 {
    background-image: url("../images/Rectangle\ 3\ \(1\).png");
}

.cards2 {
    background-image: url("../images/Rectangle\ 3\ \(2\).png");
}

.cards3 {
    background-image: url("../images/Rectangle\ 3\ \(3\).png");
}

.section4_hover {
    padding: 24px 34px 50px 24px;
    width: 100%;
    height: 25%;
    background-color: #05BCCA99;
    transition: all 1s ease;
    overflow: clip;
}

.section4_hover:hover {
    height: 100%;
}

.section4_hover_div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.div_h5 {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.h5_section4 {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
}

.section4_p {
    margin-top: 36px;
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.show_div {
    border: none;
    margin-top: 67%;
    margin-left: 65%;
    display: flex;
    column-gap: 16px;
}

.show_more {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
}

.fa-arrow-right-long {
    cursor: pointer;
}

/* 
calc(480 / 1440 * 100%)
*/
/* section5 */
.section5 {
    padding: 107px 0 106px;
    height: 320px;
    background-image: url("../images/brown_guitar.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section5_h2 {
    color: var(--lite_neon);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 40px;
}

.section5_form {
    margin: auto;
    border: #F5F5F5 solid 1px;
    width: 35%;
    height: 46px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.section5_input {
    width: 100%;
    border: none;
    outline: none;
    height: 44px;
    padding-left: 8px;
    border-radius: 8px 0 0 8px;
    background-color: #2C4246CC;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.section5_button {
    border: none;
    background-color: var(--lite_neon);
    border-radius: 0 8px 8px 0;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    cursor: pointer;
}

/* footer */
footer {
    max-width: 1440px;
    margin: auto;
    background-color: var(--lite_grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_nav {
    width: 60%;
    margin: 48px auto 68px;
    display: flex;
    justify-content: space-between;
}

.footer_ul {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.footer_h3 {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 28px;
}

.footer_span {
    color: #D9D9D9;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.footer_li {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    position: relative;
}

.footer_li::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #D9D9D9;
    position: absolute;
    bottom: -5px;
    right: 0;
}

.footer_li:hover::after {
    width: 100%;
}

.social_netvorcke {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.footer_p {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 64px;
}

/* new document */

/* section_Catalog */
.section_Catalog {
    background-color: var(--black_neon);
    padding: 96px 0;
}
/* calc(94 / 1440 * 100%) */
.text_conteiner_Catalog{
    padding: 15px 8px;
}

.section_Catalog_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
}

.Filter_h {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.Sort_by {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
}

.section_catalog_select {
    width: 160px;
    height: 32px;
    padding: 4px, 8px, 4px, 8px;
    border-radius: 4px;
    color: var(--lite_grey);
    background-color: #A1C3C9;
}

.Catalog{
    overflow: hidden;
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px 20px;
}

.card_section_Catalog {
    cursor: pointer;
    background-color: var(--lite_grey);
    width: 298px;
    height: 400px;
    padding: 0px, 0px, 16px, 0px;

}

.card_section_Catalog:hover{
    background-color: #223336;
}

.search_Catalog_button{
    margin: 64px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 48px;
}

.Previous_button{
    display: flex;
    width: 121px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    border: none;
    border-radius: 8px;
    background-color: #C46A2B;
    cursor: pointer;
}

.Previous_button:active{
    background-color: #aa4a06;
}

.Previous_button_text{
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}

.fa_angle{
    color: #D9D9D9;
    font-size: 16px;
}

.Page_search_Catalog_button{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.Next_button{
    display: flex;
    width: 92px;
    height: 40px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #05BCCA;
    background-color: var(--lite_neon);
}

.Next_button:active{
    background-color: #017881;
}