.conteiner {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    background-color: #1A1A1A;
    padding-top: 86px;
}
/* header */
header{
    max-width: inherit;
    width: inherit;
    overflow: hidden;
    padding: 16px 0;
    background-color: #012426;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #A1C3C9;
    position: fixed;
    top: 0;
    width: 100%;
}
.header_ul{
    display: flex;
    column-gap: 72px;
}
.header_li{
    color: #A1C3C9;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
/* header_div */
.header_div{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.header_div_text_conteiner{
    display: flex;
    column-gap: 32px;
}
.header_div_text{
    color: #A1C3C9;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
}
.fa-chevron-down{
    font-size: 24px;
    color: #05BCCA;
}
.img_conteiner{
    display: flex;
    column-gap: 32px;
}
.cart_shopping{
    border-radius: 8px;
    border: 2px solid #05BCCA;
    padding: 7px;
}
.body_nav{
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_ul{
    margin: 36px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_button{
    border: 1px solid #05BCCA;
    background-color: #1A1A1A;
    padding: 18px 24px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
}
/* section1 */
.section1{
    height: 480px;
    background-image: url("../images/guitar1.png");
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.chevron_section1{
    border-radius: 4px;
    background: #C46A2B;
    color: #FFF;
    padding: 20px;
}
.section1_conteiner{
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-bottom: 372px;
}
.section1_h1{
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}
.fa-arrow-right-long{
    border-radius: 4px;
    background: #C46A2B;
    color: #FFF;
    padding: 2px 7px;
}
span{
    color: #05BCCA;
}
/* section2 */
.section2{
    background-color:#012426;
    padding: 5% 10%;
}
.section2_conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.section2_article{
    width: calc(504 / 1440 * 100%);
    height: 240px;
}
.article1{
    background-image: url("../images/guitar-mediator_teal.png");
}
.article2{
    background-image: url("../images/guitar-mediator-orange.png");
}
.article3{
    background-image: url("../images/guitar-mediator-orange.png");
}
.article4{
    background-image: url("../images/guitar-mediator_teal.png");
}
.articie_h2{
    margin: 16px 0 0 16px;
    color: #F5F5F5;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
}
/* section3 */
.section3{
    padding: 10% 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section3_h1{
    color: #05BCCA;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 72px;
}
.span_section3{
    text-decoration: underline;
    text-underline-offset: 8px;
}
.article_conteiner_conteiner{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.article_conteiner{
    display: flex;
    column-gap: 20px;
}
.i_shadow{
    padding: 8px 14px;
    font-size: 38px;
    border-radius: 8px;
    border: 2px solid #05BCCA;
}
.chevron_section3{
    color: #A1C3C9;
}
.i_shadow:hover{
    box-shadow: 0 0 8px #05BCCA;
}
.card_section3{
    background-color: #2C4246;
    padding: 8px 8px 16px 8px;
}
.card_section3:hover{
    box-shadow: 0 0 8px 4px #05BCCA;
}
.figcaption_card_section3{
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
}
.text_conteiner{
    margin-top: 22px;
    display: flex;
}
.star{
    display: flex;
}
.fa-star{
    color: #C46A2B;
}
.article_conteiner_text{
    color: #A1C3C9;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    margin: 0 73px 0 8px;
}
.fa-dollar-sign{
    color: #05BCCA;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}
/* section4 */
.section4{
    /* height: calc(756 / 1440 * 100%); */
    padding: calc(96 / 1440 * 100%) calc(94 / 1440 * 100%);
    background-color: #012426;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}
.h_section4{
    margin: auto;
    color: #C46A2B;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    text-decoration: underline;
    text-underline-offset: 8px;
}
.section4_img_conteiner{
    display: flex;
    column-gap: 20px;
}
.section4_cards{
    width: 404px;
    height: 440px;
    display: flex;
    flex-direction: column-reverse;
}
.cards1{
    background-image: url("../images/Rectangle\ 3\ \(1\).png");
}
.cards2{
    background-image: url("../images/Rectangle\ 3\ \(2\).png");
}
.cards3{
    background-image: url("../images/Rectangle\ 3\ \(3\).png");
}
.section4_hover{
    width: 100%;
    height: 25%;
    background-color: #05BCCA99;
    transition: all 1s ease;
}
.section4_hover:hover{
    height: 100%;
}
.section4_hover_div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.div_h5{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.section4_p{
    margin-top: 24px;
}
.show_div{
    display: flex;
    column-gap: 16px;
}